@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.Maingallery{
  height:24vw;
  width: 100vw;
  margin-bottom: 44vw;
  padding-left: 6vw;
  padding-right: 6vw;
}
.galleryHeading{
  font-family: 'Satoshi-Bold';
  font-style: normal;
  width: 100%;
  /* background: linear-gradient(0deg, #000, #272727); */
  font-weight: 700;
  font-size: 5vw;
  line-height: 13vw;
  /* width: 70vw; */
  
  text-align: center;
  text-shadow: rgb(48, 47, 53) .5vw .3vw;
  letter-spacing: 1.2vw;

}
.heading{
  margin-bottom: 7vw;
  margin-top: 7vw;
  border: 0.2vw solid;
  width: 80vw;
  display: flex;
  height: 11vw;
  margin-left: 3vw;
  border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
  animation: borderRotate var(--d) linear infinite forwards;
  /* box-shadow: 0px 1px 2px 0px rgba(225, 0, 255, 0.996),
  1px 2px 4px 0px rgba(225, 0, 255, 0.996),
  2px 4px 8px 0px rgba(0,255,255,0.7),
  2px 4px 16px 0px rgba(225, 0, 255, 0.996); */
  align-items: center;
  justify-content: center;
}




@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}
/* :root {
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: rgba(107, 28, 118, 0.996);
  --c2:rgb(0, 242, 255) ;
  
            
} */
:root {
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: rgba(152, 13, 176, 0.996);
  --c2:rgb(7, 226, 250) ;
  
            
}
.wrapper {
  min-width: min(40rem, 100%);
}

 


@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}






.Gallery {    
height: 40vw;
/* background-image: linear-gradient(270deg, rgb(0, 0, 0),rgb(66, 66, 66), rgb(167, 167, 167),black); */

background-image: linear-gradient(270deg, rgb(0 0 0),rgb(0 0 0), rgb(0 0 0),#505050);;
font-style: normal;
font-weight: 100;
font-size: 1.3vw;
line-height: 60.2%;
/* padding-top: 4vw; */
overflow: hidden;
padding-bottom: 10vw;
border-radius: 20px 20px 20px 20px;
/* box-shadow: 0px 5px rgb(98, 96, 96); */

  }

.carousel{
 
  width: 100vw;
  height: 30vw;
  display: flex;
  flex-direction: row;
 
 }
 .part1{
  height: 40vw;
  width: 35vw;
}
 
.part2{
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  
  width: 38vw;
  height: 40vw;
  line-height: 3vw;
  align-items: flex-start;
}
.part2 p{
  font-size: 1.3vw;
}

.part1 img {
  margin: 6vw;
  width: 28vw;
  height:29vw;
  margin-left: 9vw ;
  filter: drop-shadow(0px 0px 5px 0.5px  rgb(41, 40, 40));
  border-radius: 20px 20px 20px 20px;
}
.slick-slider{

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
 
}
.slide {
  transform: scale(0.3);
  transition: transform 500ms;
  opacity: 0.5;
  height:50vw;
    
}
  
.activeSlide {
  transform: scale(1.1);
  opacity: 1;
  
}



.arrow {
 
  color: #ebebeb;
  padding: 1vw;
 
  position: absolute;
 
  cursor: pointer;
  margin: 0.5vw;
  /* z-index: 5; */
 
}



.arrow:hover{
  color:rgb(100, 102, 104);
  
}
.slick-list{
 height: 52vw;
}

.next {
  right: 0%;
  top: 35%;
  z-index: 1;
} 

.prev {
  left: 0%;
  top: 35%;
  z-index: 1;
  
}

.content{
  text-align:'center';
  text-shadow: rgb(180, 2, 211) .2vw .1vw 1px;
  letter-spacing: 0.4vw;
 
}
.conten2{
  margin-top: 2vw 
}

@media (max-width: 675px) { 
  .part2 h2{
    margin: 2vw;
    margin-top: 4vw;
  }
  .part2 p{
    font-size: 2vw;
  }
  .prev svg{
 
    position: relative;
    right: 0.1vw;
    transition: color 300ms;
    
  }
  .next svg{
    
    position: relative;
    right: 2vw;
    transition: color 300ms;
    
  }
  .Gallery{
    height: 45vw;
   font-weight: bold;
  }
  .galleryHeading{
    text-shadow: rgb(48, 47, 53) 1vw .2vw;
  }
  .state{
    display: none;
  }
  .calender{
    display: none;
  }
  .part1 img {
    margin-top: 8.5vw;
    border-radius: 0px 0px 0px 0px;
  }
  }
  